
@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb breadcrumb-instro">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-forward" aria-hidden="true"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active">Giỏ hàng</li>
    </ol>
</div>
<div class="row text-center">
    <div class="alert alert-danger" role="alert">Đặt hàng thành công</div>
    <hr/>
    <a class="btn btn-success" style="width:250px" href="/">Tiếp tục mua hàng</a>
</div>


