body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #56257d;
    min-height: 150px;
}

.searchInput {
     /*max-width: 800px;
    width: 400px;*/
    border: 1px solid #ffffff54;
    color: #ffffff;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 5px 30px 5px 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 16px;
    font-style: italic;
    background: #ffffff1c;
}

.button-search {
    color: #FFF;
    cursor: pointer;
    position: absolute;
    border: none;
    text-align: center;
    -moz-transition: all 0.2s ease-in 0;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transition-delay: 0;
    transition: all 0.2s ease-in 0;
    border-radius: 0 6px 6px 0;
    background: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 9px;
}

#number-cart {
    position: absolute;
    transition: all 0.2s ease-in 0;
    border-radius: 0 6px 6px 0;
    background: transparent;
    border: none;
    position: absolute;
    left: 55px;
    top: -3px;
}

#subheader {
    margin-top: -40px;
    font-size: 14px;
    font-family: 'UTM French Vanilla';
    height: 44px;
    color: #FFF200;
    display: table-cell;
}

    #subheader ul li {
        width: 200px;
        display: inline-block;
        list-style-type: disc;
    }

        #subheader ul li span a {
            text-align: center;
        }
/*Menu*/
#nav-mainmenu {
    background-color: #652d92;
}

#nav-name {
    color: white
}

    #nav-name:hover {
        color: black;
        background-color: antiquewhite;
    }

#dropId {
    width: 100px;
    height: 60px;
    display: inline-block;
    margin:5px 5px;
}
/*Menu*/
#choose-Shop-Address {
    border-radius: 1px;
    background-color: blue;
}

#footer {
    background-color: #352750;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: unset;
}

.footer-title {
    color: white;
    font-size: 16px;
}

.footer-title-ul {
    color: #b1b1b1;
    list-style-type: none;
    margin-left: -15px;
}

    .footer-title-ul a {
        color: #b1b1b1;
    }
/*button move top*/
#movetop {
    position: fixed;
    bottom: 85px;
    right: 15px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #56257d;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    /*-o-border-radius: 50px;*/
    -moz-border-radius: 50px;
/*    -ms-border-radius: 50px;*/
    padding: 0;
}

    #movetop:hover {
        opacity: 0.9;
    }

button span.fa-angle-up {
    line-height: 36px !important;
}
/*button move top*/





/*product*/

/*search product*/
#searchALL {
    height: 100px;
    border: 2px solid #56257d;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
#searchALL span select.Filter
{
    width:120px;
    height:30px;
    text-align:center;
    color:red;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
}
/*search product*/

#product
{
    text-align:center;
}
#product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 30px;
    padding: 10px;
    background: #652d92d4;
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
    display:none;
}

#product:hover .add-to-cart {
    display:block;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

#product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

#product .add-to-cart .add-to-cart-btn > i {
        position: absolute;
        left: 0;
        top: -10px;
        width: 40px;
        height: 40px;
        line-height: 38px;
        color: #D10024;
        opacity: 0;
        visibility: hidden;
}

#product .add-to-cart .add-to-cart-btn:hover {
        background-color: #FFF;
        color: #D10024;
        border-color: #D10024;
        padding: 0px 30px 0px 50px;
}
#product .add-to-cart .add-to-cart-btn:hover > i {
            opacity: 1;
            visibility: visible;
}
/*product*/
/*register*/
.the-nhap {
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-bottom: 20px;
}
/*register*/
/*login*/
.input {
    width: 35%;
    height: 37px;    
    border: 1px solid #b3b3b3;
    outline: none;
    padding-left: 15px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}
.readall {
    transition: all .2s linear;
    color: #fff !important;
    background-color: #9b0e62;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
}
/*login*/