<div style="margin-top:10px;">
    <p style="color:#333;font-weight: 700;">Bảo hành quốc tế</p>2 năm quốc tế<p>&nbsp;</p>

    <p><strong>Thời gian nhận và trả bảo hành</strong></p>

    <p>Trong giờ hành chính: Từ 08h30 đến 17h00</p>

    <p>Các ngày trong tuần trừ Ngày lễ và chủ nhật.</p>

    <p><strong>Trường hợp được bảo hành &nbsp;</strong></p>

    <p>- Các sản phẩm có thời gian bảo hành từ 1- 2 năm. Tùy theo từng dòng sản phẩm.</p>

    <p>- Sản phẩm trong thời hạn bảo hành.&nbsp;</p>

    <p>- Lỗi về máy, pin và độ chịu nước&nbsp;</p>

    <p>- Sản phẩm được bảo hành theo quy định của nhà cung cấp.&nbsp;</p>

    <p>- Quý khách xuất trình phiếu bảo hành khi đi bảo hành.&nbsp;</p>

    <p><strong>Trường hợp không được bảo hành&nbsp;</strong></p>

    <p>- Quá thời gian bảo hành ghi trên sổ hoặc thẻ bảo hành.&nbsp;</p>

    <p>- Sổ bảo hành, thẻ bảo hành bị rách, bị dán đè, bị sửa đổi hoặc không xác định được.&nbsp;</p>

    <p>- Các sản phẩm tự ý sửa chữa, biến dạng do rơi vỡ, va đập, dùng sai quy định, hư hỏng do thiên tai, động đất,...gây ra.&nbsp;</p>

    <p>- Hỏng bên ngoài như vỏ, dây, kính, lỗi do người sử dụng,...&nbsp;</p>

    <p><strong>Lưu ý:&nbsp;</strong></p>

    <p>- Khách hàng chịu trách nhiệm cho chi phí vận chuyển đến trung tâm bảo hành.&nbsp;</p>

    <p>- Hết thời hạn bảo hành, chi phí sửa chữa sẽ được trung tâm bảo hành hỗ trợ với giá ưu đãi nhất.</p>

    <p><strong>Chính sách đổi mới sản phẩm:</strong></p>

    <p>Nhằm đảm bảo quyền lợi người tiêu dùng, nâng cao chất lượng dịch vụ sau bán hàng, cửa hàng đổi sản phẩm mới cùng loại nếu sản phẩm bị lỗi kỹ thuật do nhà sản xuất. Sản phẩm chỉ được đổi khi đáp ứng đầy đủ các điều kiện sau dưới đây:</p>

    <p>- Sản phẩm mới mua trong vòng 02 ngày kể từ ngày xuất bán. Khách hàng mua trực tuyến, thời gian được tính từ ngày khách nhận được sản phẩm.</p>

    <p>&nbsp;- Sản phẩm không bị cũ, xước, biến dạng và thỏa mãn các điều kiện bảo hành.</p>

    <p>- Sản phẩm nhận lại phải còn nguyên vẹn vỏ thùng, xốp và đầy đủ các phụ kiện kèm theo, quà khuyến mãi (nếu có)…</p>

    <p><strong>Trường hợp không chấp nhận đổi hoặc trả sản phẩm:</strong></p>

    <p>- Quý khách muốn thay đổi chủng loại, mẫu mã sản phẩm.</p>

    <p>- Lỗi do người sử dụng.</p>

    <p>- Không chấp nhận các lỗi ngoại quan (xước, móp, méo, vỡ, sứt, ...) khi khách hàng đã mang sản phẩm ra khỏi cửa hàng Công ty.</p>

    <p><strong>Chú ý:</strong>&nbsp;Khách hàng xem kỹ sản phẩm trước khi mua, sản phẩm đã bán ra không nhập lại. Không có trường hợp ngoại lệ. Để đảm bảo cho mọi khách hàng luôn mua được sản phẩm mới.</p>

    <p><strong>Địa chỉ:</strong></p>

    <p>Galle Watch – 41 Thi Sách, Hai Bà Trưng, Hà Nội | Tel:&nbsp;1800 6785</p>

    <p>Galle Watch – 393 Điện Biên Phủ, Phường 4, Quận 3, TP. HCM | Tel:1800 6785</p>

    <p><o:p></o:p></p>

    <p style="text-align: justify;"><o:p></o:p></p>
</div>