@model List<Prj_Shop_Watch_Online.Models.Cart>

<a href="@Url.Action("Index","Cart")" style="color: yellow">
    <span><i class="fas fa-cart-plus fa-2x"></i></span>
    <span id="number-cart">@Model.Count</span>
</a>
